<!DOCTYPE html>
<head>

    <meta charset="UTF-8" />
    <title>Styl Web's</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link rel="icon" href="images/croc.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Mini web!">

    </head>

    <body>
        <div class="container">
            
            <img class="image" src="images/cro.gif">
        <hr>
        <a href="https://github.com/Xmitthie" target="_blank">
        <img src="https://cdn.discordapp.com/attachments/1102363522710646784/1193821350943543388/25231.png" alt="github icon" class="github"> 
        </a>

        <a href="https://discord.gg/nixakanazis" target="_blank">
        <img src="https://cdn.discordapp.com/attachments/1102363522710646784/1193819627319468062/unnamed.png" alt="discord icon" class="discord"> 
        </a>


        <div class="footer">
        <a href="/" class="foot">🍩</a>
        </div>

    </div>
</body>
</html>