<!DOCTYPE html>
<head>

    <meta charset="UTF-8" />
    <title>Styl Web's</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link rel="icon" href="images/croc.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Mini web!">

    </head>

    <body>
        <div class="container">
            
            <img class="image" src="images/cro.gif">
        <h1>Aisk</h1>
        <hr>

        <p id="randy" onclick="random()">🍩</p>
        
        <div class="footer">
        <a href="/about" class="foot">About Me</a>
        <a href="/contact" class="foot">Contact</a>
        <a href="/projects" class="foot">Projects</a>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>